<div class="body">

    <div class="contact-container1">
        <div class="container">
            <div class="object">
              <img src="../../../assets/images/c1.png" alt="Icon 1">
              <h3>0722 783 943</h3>
            </div>
            <div class="object">
              <img src="../../../assets/images/c2.png" alt="Icon 2">
              <h3>dia.alexandru5yahoo.com</h3>
            </div>
            <div class="object">
              <img src="../../../assets/images/c3.png" alt="Icon 3">
              <h3>Calea Fagarasului, Nr.7, Brasov</h3>
            </div>
          </div>

    </div>
<div class="contact-container">
    <div class="form-container">
        <h3>Message Us</h3>
        <form action="" class="contact-form" (submit)="sendDataToBackend()">
            <input type="text" placeholder="Your name" required>
            <input type="email" name="" id="" placeholder="Enter your email..." required>
            <textarea name="" id="" cols="30" rows="10" placeholder="Write Message Here..." required>
            </textarea>
            <input type="submit" value="Send" class="send-button">
        </form>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2788.4202345646213!2d25.570765883890633!3d45.66246344562921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35ba5134cc873%3A0x2ea83e19f43264a!2sCentrul%20Medical%20de%20Vest!5e0!3m2!1sro!2sro!4v1704632386637!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>

</div>
</div>