<div class="banner">
    <div class="content">
        <h1 class="mb-5">Your Health,<br><br>Our Commitment.</h1>
        <button mat-raised-button  (click)="scrollToTarget()" class="custom-color-button" >About us</button>
    </div>
    
</div>

<div class="welcome-section">
    <div  class="centerd-text">
        <br>
        <br>
        <br>
        <h2>Welcome to our clinic</h2>
        <p>Welcome to our clinic, where skilled doctors with over 10 years of experience <br>
            have successfully treated numerous patients. <br>Experience excellence in healthcare with personalized and compassionate services tailored just for you.</p>
        <div class="line"> </div>
    
    </div>
    


</div>

<div class="container">
    <div class="object">
      <img src="../../../assets/images/icon1.png" alt="Icon 1">
      <h3>20+ years <br> experience</h3>
    </div>
    <div class="object">
      <img src="../../../assets/images/icon2.png" alt="Icon 2">
      <h3>35+ specialist<br> doctors</h3>
    </div>
    <div class="object">
      <img src="../../../assets/images/icon3.png" alt="Icon 3">
      <h3>10 000+ treated <br> patients</h3>
    </div>
  </div>

  <div id="scrollTarget" class="about-card">
    <div class="text-content">
      <h2>About Us</h2>
      <p>Welcome to our team! We are a dedicated group of professionals passionate about delivering high-quality services to our clients. With years of combined experience, we strive for excellence in every project we undertake.</p>
      <p>Our mission is to exceed your expectations and build lasting relationships. Get to know us better and discover the people behind our success.</p>
      <ul class="features-list">
        <li><img src="../../../assets/images/check-icon.png" alt="Check Icon"> Attentive Team</li>
        <li><img src="../../../assets/images/check-icon.png" alt="Check Icon"> Quick Results</li>
        <li><img src="../../../assets/images/check-icon.png" alt="Check Icon"> Emergency Care</li>
      </ul>
    </div>
    <img src="../../../assets/images/team.png" alt="Our Team">
  </div>
 
  <div class="spacer">

  </div>